<div *ngIf="form; else loading" class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <mat-form-field class="form-control">
      <mat-label for="name">Name:</mat-label>
      <input matInput type="text" id="name" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label for="phoneNumbers">Number 1:</mat-label>
      <input
        matInput
        type="text"
        id="phoneNumbers"
        formControlName="phoneNumbers"
      />
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label for="phoneNumbersAdd">Number 2:</mat-label>
      <input
        matInput
        type="text"
        id="phoneNumbersAdd"
        formControlName="phoneNumbersAdd"
      />
    </mat-form-field>
    <div class="form-control"></div>
    <button class="btn btn-submit" type="submit">Submit</button>
    <button type="button" class="btn btn-return" (click)="goBack(user.id!)">
      Return
    </button>
  </form>
</div>
<ng-template #loading>
  <p class="text-center">Loading..</p>
</ng-template>
