<div class="container user-info">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2 mat-dialog-title>Add User</h2>
    <div class="mat-typography content">
      <mat-form-field>
        <mat-label>Enter Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
    </div>
    <ng-container formArrayName="phoneNumbers">
      <ng-container *ngFor="let numberForm of numbers.controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <mat-label>Enter phone number</mat-label>
            <input matInput type="tel" formControlName="number" />
          </mat-form-field>
          <button type="button" class="btn btn-delete" (click)="deleteNumber(i)">Delete</button>
        </div>
      </ng-container>
    </ng-container>

    <div class="user-info-buttons">
      <button class="btn btn-delete" (click)="return()">Cancel</button>
      <button class="btn btn-add" type="button" (click)="addNumber()">
        Add number
      </button>
      <button class="btn btn-add" type="submit">Add</button>
    </div>
  </form>
</div>
